@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

input[type="text"],input[type="password"],input[type="email"],input[type="number"],textarea  {
  @apply w-full border my-2 py-2 px-3 rounded-lg;
}

textarea {
  height: 160px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: #2a91eb;
  @apply bg-primary p-2 w-full text-white rounded-lg;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}